@use 'card';

.icon {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease;
    padding-top: 0.01rem;
}

.header-logo {
    @include card.header-logo-base(4rem, 2.7rem);
}