<div class="offer-card">
    <div class="header">
        <div class="header-logo">
            <img [src]="offer().companyLogo ? offer().companyLogo : '/images/no-logo.png'" alt="company logo">
        </div>
        <div class="header-title">
            <h2>
                <a [routerLink]="['/offers', offer().id]" class="job-title-link"></a>
                {{offer().title}}
            </h2>
            <h3>{{offer().companyName}}</h3>
            <p class="description">{{offer().description}}</p>
        </div>
    </div>
    <div class="badges-list">
        <div class="badge">React</div>
        <div class="badge">JavaScript</div>
    </div>
    <div class="footer">
        <div class="meta-list">
            <div class="meta">
                <lucide-angular [img]="mapIcon" [size]="18"></lucide-angular>
                <span>{{offer().location}} • <span class="remote">{{offer().remoteType | remoteFormat}}</span></span>
            </div>
            <div class="meta">
                <lucide-angular [img]="clockIcon" [size]="18"></lucide-angular>
                <span>{{offer().contractType | contractFormat}}</span>
            </div>
            <div class="meta">
                <lucide-angular [img]="companyIcon" [size]="18"></lucide-angular>
                <span>{{offer() | salaryFormat}}</span>
            </div>
            <div class="meta">
                <span>{{offer().publishedAt | publishedDateFormat}}</span>
            </div>
        </div>
        <span class="button-gradient-link flex">
            Détails
            <lucide-angular [img]="arrowRightIcon" [size]="16" class="icon"></lucide-angular>
        </span>
    </div>
</div>