<header class="card">
    <nav class="nav">
        <div class="container">
            <div class="nav-container">
                <a routerLink="" class="header-logo">
                    <img [src]="logo" alt="website logo">
                    <div class="flex-column">
                        <span class="title">JuniorStart</span>
                        <span class="sub-title">Plateforme de carrière</span>
                    </div>
                </a>
                <div class="nav-list">
                    <a class="nav-link" routerLink="/offers/">Voir les offres</a>
                    <a class="nav-link">Entreprises</a>
                    <a class="nav-link">Profil</a>
                    <a class="button-link">Se connecter</a>
                </div>
            </div>
        </div>
    </nav>
</header>