@use 'button';

.button-gradient-link {
  @include button.button-gradient-base;
}

.button-link {
  @include button.button-base();
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.back-link {
  color: oklch(64.075% 0.17731 256.418);
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;

  lucide-icon {
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--mat-sys-primary);
  }
}