.gradient-link {
    border-radius: 8px;
    background: var(--mat-sys-link-gradient);   
    padding: 0.75rem 2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;   
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
}