$spacing-unit: 1rem;

.mt-1 {
    margin-top: $spacing-unit;
}

.mr-1 {
    margin-right: $spacing-unit;
}

.ml-1 {
    margin-left: $spacing-unit;
}

.mb-1 {
    margin-bottom: $spacing-unit !important;
}

.mt-2 {
    margin-top: $spacing-unit * 2;
}

.mr-2 {
    margin-right: $spacing-unit * 2;
}

.ml-2 {
    margin-left: $spacing-unit * 2;
}

.mb-2 {
    margin-bottom: $spacing-unit * 2 !important;
}

.pt-1 {
    padding-top: $spacing-unit;
}

.pr-1 {
    padding-right: $spacing-unit;
}

.pl-1 {
    padding-left: $spacing-unit;
}

.pb-1 {
    padding-bottom: $spacing-unit;
}

@for $i from 0 through 20 {
    .py-#{$i} {
        padding-top: #{$i * 0.25}rem;
        padding-bottom: #{$i * 0.25}rem;
    }

    .px-#{$i} {
        padding-left: #{$i * 0.25}rem;
        padding-right: #{$i * 0.25}rem;
    }

    .p-#{$i} {
        padding: #{$i * 0.25}rem;
    }
}

@for $i from 0 through 20 {
    .my-#{$i} {
        margin-top: #{$i * 0.25}rem;
        margin-bottom: #{$i * 0.25}rem;
    }

    .mx-#{$i} {
        margin-left: #{$i * 0.25}rem;
        margin-right: #{$i * 0.25}rem;
    }

    .m-#{$i} {
        margin: #{$i * 0.25}rem;
    }
}