<footer class="py-10">
    <div class="container">
        <div class="footer-list">
            <div class="footer-logo flex-1">
                <div class="flex">
                    <!-- <img [src]="logo" alt="website logo"> -->
                    <div class="gradient-bg">
                        <lucide-icon [img]="briefCaseIcon" [size]="20" class="icon"></lucide-icon>
                    </div>
                    <span class="title">JuniorStart</span>
                </div>
                <p class="sub-title">Connecting junior talent with forward-thinking companies.</p>
            </div>
            <div class="flex-column flex-1">
                <h3>For Job Seekers</h3>
                <ul>
                    <li><a routerLink="/offers/">Browse Jobs</a></li>
                    <li><a>Create Profile</a></li>
                    <li><a>Career Resources</a></li>
                </ul>
            </div>
            <div class="flex-column flex-1">
                <h3>For Companies</h3>
                <ul>
                    <li><a>Post Jobs</a></li>
                    <li><a>Company Dashboard</a></li>
                    <li><a>Pricing</a></li>
                </ul>
            </div>
            <div class="flex-column flex-1">
                <h3>Support</h3>
                <ul>
                    <li><a>Help Center</a></li>
                    <li><a>Contact</a></li>
                    <li><a>About</a></li>
                </ul>
            </div>
        </div>
        <div class="rights">
            <p>© 2025 JuniorStart. All rights reserved.</p>
        </div>
    </div>
</footer>