<div class="offer-card-home">
    <div class="flex-column">
        <div class="header">
            <div class="header-title">
                <div class="flex">
                    <h2>
                        <a [routerLink]="" class="job-title-link"></a>
                        {{offer().title}}
                    </h2>
                    <div class="badge light-green">Career Change Friendly</div>
                </div>
                <h3>{{offer().companyName}}</h3>
            </div>
        </div>
        <div class="meta-list">
            <div class="meta">
                <lucide-icon [img]="mapIcon" [size]="18" class="icon"></lucide-icon>
                <span>{{offer().location}} • <span class="remote">{{offer().remoteType | remoteFormat}}</span></span>
            </div>
            <div class="meta">
                <lucide-icon [img]="clockIcon" [size]="18"></lucide-icon>
                <span>{{offer().contractType | contractFormat}}</span>
            </div>
            <div class="meta">
                <lucide-icon [img]="companyIcon" [size]="18"></lucide-icon>
                <span>{{offer() | salaryFormat}}</span>
            </div>
            <div class="meta">
                <span>{{offer().publishedAt | publishedDateFormat}}</span>
            </div>
        </div>
        <div class="badges-list">
            <div class="badge">React</div>
            <div class="badge">JavaScript</div>
        </div>
    </div>
    <span class="button-link">
        Détails
    </span>
</div>