<div class="py-16 px-6">
    <div class="flex container">
        <div class="card flex-1">
            <div class="filter-title">
                <lucide-icon [name]="filterIcon" size="20" class="icon"></lucide-icon>
                <h3>Filter Jobs</h3>
            </div>
            <form [formGroup]="filterControl" (ngSubmit)="onApplyFilters()" class="filter-fields">
                <div>
                    <label for="search-term">Search Keywords</label>
                    <div class="input-box">
                        <lucide-icon [img]="searchIcon" [size]="18"></lucide-icon>
                        <input id="search-term" type="text" formControlName="searchTerm" placeholder="Job title, keywords, or company">
                    </div>
                </div>
                <div>
                    <label for="location">Location</label>
                    <div class="select-box">
                        <ng-select class="custom-filter" clearable="false"
                            [searchable]="false" id="location" formControlName="location">
                            <ng-option value="">All locations</ng-option>
                            <ng-option value="remote">Remote</ng-option>
                            <ng-option value="paris">Paris</ng-option>
                            <ng-option value="lyon">Lyon</ng-option>
                            <ng-option value="marseille">Marseille</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div>
                    <label for="contract-type">Contract Type</label>
                    <div class="select-box">
                        <ng-select class="custom-filter" clearable="false"
                            [searchable]="false" bindLabel="label" bindValue="key" id="contract-type" formControlName="contractType">
                            @for (contractType of getAllContractOptions(); track contractType.key) {
                            <ng-option [value]="contractType.key">{{contractType.label}}</ng-option>
                            }
                        </ng-select>
                    </div>
                </div>
                <div>
                    <label for="remote-type">Work Mode</label>
                    <div class="select-box">
                        <ng-select class="custom-filter" clearable="false"
                            [searchable]="false" bindLabel="label" bindValue="key" id="remote-type" formControlName="remoteType">
                            @for (remoteType of getAllRemoteOptions(); track remoteType.key) {
                            <ng-option [value]="remoteType.key">{{remoteType.label}}</ng-option>
                            }
                        </ng-select>
                    </div>
                </div>
                <div>
                    <label>Salary Range</label>
                    <div class="salary-field" formGroupName="salary">
                        <input placeholder="Min" class="flex-1" formControlName="min"/>
                        <input placeholder="Max" class="flex-1" formControlName="max"/>
                    </div>
                </div>
                <div>
                    <button type="submit" class="button-gradient-link">Apply filters</button>
                </div>
                <div>
                    <button type="button" class="button-link" (click)="onClearFilters()">Clear All Filters</button>
                </div>
            </form>
        </div>
        <div class="flex-4 offer-list">
            <div class="title">
                <h1>Discover Your Next Opportunity</h1>
                <p>Curated for junior talent and career changers</p>
            </div>
            @if (paginationData$ | async; as data) {
            <app-offer-list [offers]="data.response.items"></app-offer-list>
            <!-- need to create a component to be reusable -->
            <div class="pagination" aria-label="Pagination">
                <ul>
                    <li><button [disabled]="!data.response.hasPreviousPage" class="button-link"
                            (click)="previousPage()"><lucide-angular [img]="arrowLeftIcon" [size]="16"
                                class="icon pr-1"></lucide-angular>Previous</button>
                    </li>
                    @if (currentPage$ | async; as currentPage) {
                    @for(page of data.pages; track page) {
                    @if (typeof page === 'number'){
                    <li><button class="button-link page-number" [class.active]="page === currentPage"
                            (click)="goToPage(page)">{{page}}</button></li>
                    } @else {
                    <span>...</span>
                    }
                    }
                    }
                    <li><button [disabled]="!data.response.hasNextPage" class="button-link" (click)="nextPage()">Next
                            <lucide-angular [img]="arrowRightIcon" [size]="16"
                                class="icon pl-1"></lucide-angular></button></li>
                </ul>
            </div>
            }
        </div>
    </div>
</div>